body {
    display: flex; /* itens lado a lado */
    flex-direction: column; /* empilhar itens verticalmente */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.texto-titulo {
    font-size: 25px;
    text-align: center;
    font-weight: 200;  /* o quão escura e grossa a fonte estará, algo como negrito */
    font-family: "Segoe UI";

}

.texto-javascript {
    font-size: 25px;
    font-weight: 350;
    font-family: "Segoe UI";
    font-style: italic;
    color: rgb(226, 19, 19);
}


.calculator{
background-color: rgb(157, 165, 238);
width: 350px;
border-radius: 20px;
padding: 20px;
}

#display {
    width: 100%;
    box-sizing: border-box;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: #f0f0f0; 
    text-align: right;
    font-size: 20px;
    margin-bottom: 16px;
}

.box-buttons {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5 , 1fr);
    gap: 10px;

}

button{
    border: none;
    height: 60px;
    border-radius: 10px;
    font-size: 20px;

}


button:hover {
background-color: #e1e1e1;
cursor: pointer;
transition: .4s;
}

.btn-zero {
    grid-column: 1 / 3;
}



.footer {
    margin-top: 150px;
}

.cor-apagar {
    background-color: rgb(250, 175, 179);
}


.cor-operacoes {
    background-color: rgb(240, 211, 173);
}